{% extends 'pages/base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load tailwind_filters %}

{% block content %}
<body>
    {% include 'pages/navbar.html' %}
    
    <div class="max-w-md mx-auto bg-gray-100 shadow-md p-5 rounded-md">
        <h3 class="text-xl font-bold text-center mb-2">Create Your Contact List!</h3>
        <h5 class="text-gray-600 text-center mb-4">Start managing your contacts</h5>
    
        <form action="" method="POST" autocomplete="off" class="space-y-4">
            {% csrf_token %}

            {{ form2|crispy }}  <!-- ✅ This will apply Tailwind styling automatically -->

            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-700 rounded-md p-2">
                Create Conta
            </button>
        </form>

        <br>
        
    </div>
</body>
{% endblock %}
